.container {
  display: inline-block;
}

.link {
  font-size: 20px;
  text-transform: uppercase;
  background-color: $blue;
  color: $white;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  letter-spacing: 1px;
}

:global(.eausans_book-loaded) .link {
  font-family: $EausansBook;
}

.absolute {
  position: absolute;
  bottom: 0;

  @media screen and (max-width: $breakpointsm) {
    position: relative;
  }
}
