.footer {
  min-height: $footerHeight;
  background-image: $gradient;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  color: inherit;
  text-decoration: none;
}

.separator {
  display: inline-block;
}

.separator::before {
  content: '|';
  margin: 0 5px;
}
