.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

:global(.eausans_bold-loaded) .container {
  font-family: $EausansBold;
}

.title {
  font-size: 25px;
  color: $darkBlue;
  text-transform: uppercase;
}

.link {
  color: $blue;
  font-size: 18px;
  border-bottom: 1px solid $blue;
  text-decoration: none;
}
