.container {
  color: $darkBlue;
  width: 50%;
  position: relative;

  @media screen and (max-width: $breakpointsm) {
    width: 100%;
    margin-top: 40px;
  }
}

.head {
  display: flex;
}

.title {
  font-size: 25px;
  text-transform: uppercase;
  margin: auto 20px;
}

.description {
  font-size: 20px;
}

.description a {
  text-decoration: none;
  border-bottom: 1px solid $blue;
  padding-bottom: 3px;
}

.emphasis {
  color: $blue;
}

.emphasisTitle {
  font-size: 20px;
  color: $blue;
  text-transform: uppercase;
}

:global(.eausans_bold-loaded) .title,
:global(.eausans_bold-loaded) .emphasis,
:global(.eausans_bold-loaded) .emphasisTitle {
  font-family: $EausansBold;
}

:global(.eausans_book-loaded) .description {
  font-family: $EausansBook;
}
