.container {
  height: 400px;
  background-image: linear-gradient(to right, var(--green) 0%, var(--blue) 100%);
  position: relative;
}

.header {
  color: #fff;
  font-size: 60px;
  text-transform: uppercase;
  position: absolute;
  top: 40%;
  right: 10%;
  width: 200px;
  line-height: 1;
}
