.container {
  height: 450px;
  background-image: $gradient;
  position: relative;
}

:global(.eausans_book-loaded) .container {
  font-family: $EausansBook;
}

.header {
  color: $white;
  font-size: 80px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;

  @media screen and (max-width: $breakpointsm) {
    font-size: 50px;
  }
}

.title {
  font-size: 40px;
  margin: 10px 0 0;
  letter-spacing: 10px;

  &::after,
  &::before {
    content: "•";
    margin: 0 10px;
  }
}

.date {
  margin: 20px 0 0;
  font-size: 18.35px;
}
