.container {
  height: 400px;
  background-image: linear-gradient(to right, var(--green) 0%, var(--blue) 100%);
  position: relative;
}

.header {
  color: #fff;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;
}
